/*////////////////////////
    Table of Contents
    1. Neccessary imports
    2. Global Styles
    3. Typography
    4. Layout
        4.1 Reusables
        4.2 Other
    5. Areas
        5.1 Header
        5.2 Introduction
        etc.
    6. Media Queries
////////////////////////*/
/* ------------------------------- 1. Neccessary imports -------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');
/*specify families with ->
|font-family: 'Merriweather', serif;|
|font-family: 'Roboto', sans-serif;| */

/* ------------------------------- 2. Global Styles -------------------------------- */
:root{
    --ex-color-purple: #5722CD;
    --ex-color-blue: #4845E4;
    --ex-color-pink: #ED4385;
    --std-text-color: #0C0C0C;
    --float-text-color: #F2F0FF;
    --project-background-color: #F3F6F9;
    --service-tile-text-color: #7A7A7A;
}
*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: var(--float-text-color);
}
h1,
h2,
h3{
    font-family: 'Merriweather', serif;
}
/* ------------------------------- 2. Typography ----------------------------------- */

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
#header-section{
    background: rgb(72,69,228);
    background: linear-gradient(180deg, rgba(72,69,228,1) 30%, rgba(87,34,208,1) 70%);
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.navitem{
    margin: 20px;
}
#banner-text{
    text-align: center;
}
.banner-item{
    margin: 20px 0;
}

#banner-subtext{
    font-size: 20px;
}

#header-button{
    border-radius: 30px;
    background-color: var(--ex-color-pink);
    padding: 20px 30px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

#header-button:hover{
    opacity: 75%;
}

#header-section-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

/* --------------- 4.2 Introduction ------------------- */
#intro-section{
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    margin: 25px;
}

#intro-article{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 40px;
}

.intro-article-par{
    color: var(--ex-color-blue);
    margin: 25px;
}
/* ------------------------------- 5. Media Queries -------------------------------- */